.venv
openAiApiKey.txt
dev_rfc.log
saplogonLoginDetails.json
saplogonLoginDetails - old.json
saplogonLoginDetails - local.json
tests/
answer.txt
translated prompts.json
*.pyc
prompts nochmal angucken.txt
probleme mit den übersetzungen.txt
backup
test.py
randomSmallTest*.json
somePassablePrompts.json
allPrompts5Repeats*.json
newSmallTest*.json
runTest.json
somePassablePrompts*.json
combinedThreads.json
bigRun.json
adjusting*.json
test.json
createNewTranslatedPrompts.py
testing/
testing stuff.py
generateFunction.py